In [10]:
lst = ["Java", "C", "PHP"]
t = ("C#", "Jython", "Python", "IronPython")
lst.extend(t)
lst

['Java', 'C', 'PHP', 'C#', 'Jython', 'Python', 'IronPython']

In [18]:
se = set("A Python Tutorial")
print(se)
print("".join(se))

{'a', 'r', 't', 'n', 'T', 'u', ' ', 'y', 'l', 'A', 'o', 'i', 'h', 'P'}
artnTu ylAoihP

In [3]:
set({{'d':"d"}, ("Paris", "Berlin", "London")})

TypeError: unhashable type: 'dict'

In [20]:
num = '000910123456789'

In [23]:
num[len(num[:-10]):]

'0123456789'

In [9]:
num[5:]

'3456789'

In [35]:
a=[1,2,3,4]
# a.pop()

In [39]:
a

[1, 2, 3, 4]

In [41]:
a.insert(0,a.pop())

In [42]:
a

[4, 1, 2, 3]

In [14]:
dt = tuple('geeks')

In [15]:
dt

('g', 'e', 'e', 'k', 's')

In [16]:
a,b,c,d,e = dt

In [17]:
b=c='*'

In [18]:
dt = (a,b,c,d,e)

In [19]:
dt

('g', '*', '*', 'k', 's')

In [35]:
class A():
    def display(self):
        print("a display")

class B(A):
    def __init__(self):
        pass

    def display(self):
        super(B, self).__init__()
        print("b")
    
        

obj = B()
obj.display()

b

In [40]:
x =2
y =2
z = 2
n = 2

In [44]:
[[i,j] for i in range(x+1) for j in range(y) if sum([i,j]) !=2]

[[0, 0], [0, 1], [1, 0], [2, 1]]

In [53]:
from decimal import Decimal
float(3/6)

TypeError: float expected at most 1 argument, got 2